includes:
    - %currentWorkingDirectory%/vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
    customRulesetUsed: true
    level: max
    paths:
        - %currentWorkingDirectory%
    excludePaths:
        analyseAndScan:
            - %currentWorkingDirectory%/vendor/*
            - %currentWorkingDirectory%/node_modules/*
            - %currentWorkingDirectory%/coverage/*
            - %currentWorkingDirectory%/.phpunit.cache/*
            - %currentWorkingDirectory%/.psalm-cache/*
            - %currentWorkingDirectory%/build/*
            - %currentWorkingDirectory%/dist/*
            - %currentWorkingDirectory%/tmp/*
            - %currentWorkingDirectory%/.tmp/*
            - %currentWorkingDirectory%/storage/*
            - %currentWorkingDirectory%/bootstrap/cache/*
            - %currentWorkingDirectory%/var/cache/*
            - %currentWorkingDirectory%/tests/*
            - %currentWorkingDirectory%/resources/*
            - %currentWorkingDirectory%/bin/*
            - %currentWorkingDirectory%/benchmarks/*
            - %currentWorkingDirectory%/examples/*
    parallel:
        maximumNumberOfProcesses: 2
    cognitive_complexity:
        class: 80
        function: 12
        dependency_tree: 80
        dependency_tree_types: []
    reportUnmatchedIgnoredErrors: true
